modpak/__pycache__/__init__.cpython-312.pyc
modpak/L1Adir/__pycache__/__init__.cpython-312.pyc
modpak/L1Adir/L2Adir/__pycache__/__init__.cpython-312.pyc
modpak/L1Adir/L2Adir/__pycache__/L3Afile.cpython-312.pyc
modpak/L1Bdir/__pycache__/__init__.cpython-312.pyc
